@model IEnumerable<NoStressWedding.Areas.DBManagement.Models.UserRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            User
        </th>
        <th>
            Role
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserRoleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserRoleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserRoleId })
        </td>
        <td>
			@(item.User == null ? "None" : item.User.Name)
        </td>
        <td>
			@(item.Role == null ? "None" : item.Role.Name)
        </td>
    </tr>
}

</table>


