@model Check_my_Box.Areas.DBManagement.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">LastName</div>
    <div class="display-field">@Model.LastName</div>

    <div class="display-label">Email</div>
    <div class="display-field">@Model.Email</div>

    <div class="display-label">TelephoneNumber</div>
    <div class="display-field">@Model.TelephoneNumber</div>

    <div class="display-label">UserItemLists</div>
    <div class="display-field">@(Model.UserItemLists == null ? "None" : Model.UserItemLists.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


