@model Check_my_Box.Areas.DBManagement.Models.ItemSelectableValue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ItemSelectableValue</legend>

    <div class="display-label">PlaceHolder</div>
    <div class="display-field">@Model.PlaceHolder</div>

    <div class="display-label">ListOptionValue</div>
    <div class="display-field">@Model.ListOptionValue</div>

    <div class="display-label">ItemSelectable</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.ItemSelectable).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ItemValueId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


