@model IEnumerable<Check_my_Box.Areas.DBManagement.Models.ItemSelectableValue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            PlaceHolder
        </th>
        <th>
            ListOptionValue
        </th>
        <th>
            ItemSelectable
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemValueId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemValueId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemValueId })
        </td>
        <td>
			@item.PlaceHolder
        </td>
        <td>
			@item.ListOptionValue
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.ItemSelectable).ToString()
        </td>
    </tr>
}

</table>


