@model Check_my_Box.Areas.DBManagement.Models.UserItemList
@{
    ViewBag.Title = "Test";
}
<h2>
    My CheckList</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.UserItemListId)
    @Html.HiddenFor(model => model.UserId)
    <fieldset>
        <legend>Wedding CheckList</legend>
        <div class="editor-label">
            Owner
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserOwner, "UserOwner")
        </div>
            @Html.EditorFor(model => model.UserItems)

@*       @if (Model.UserItems.Count() >0){
           <div>C</div>
            foreach (var item in Model.UserItems) {    
                <div class="editor-field">   a
            @Html.EditorFor(items => item,"UserItem")
             </div>
            }
        }
       *@
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
