<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/cellulose/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">
        <div id="logo">
            <h1>
                <a href="#">Check my Box</a>
            </h1>
            <p>
                Template Design by <a href="http://www.freecsstemplates.org/">CSS Templates</a></p>
        </div>
        <!-- end #logo -->
        <div id="menu">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About Us", "About", "Home")</li>
                <li>@Html.ActionLink("Products", "Index", "Products")</li>
                <li>@Html.ActionLink("Services", "Index", "Services")</li>
                <li>@Html.ActionLink("Contact Us", "Index", "Contact")</li>
            </ul>
        </div>
        <!-- end #menu -->
    </div>
    <!-- end #header -->
    <div id="page">
        <div id="content">
            @RenderBody()
           
        </div>
        <!-- end #content -->
        <div id="sidebar">
            <ul>
                <li id="search">
                    <h2>
                        Search</h2>
                    <form method="get" action="">
                    <fieldset>
                        <input type="text" id="s" name="s" value="" />
                        <input type="submit" id="x" value="Search" />
                    </fieldset>
                    </form>
                </li>
                <li>
                    <h2>
                        Lorem Ipsum</h2>
                    <ul>
                        <li><a href="#">Fusce dui neque fringilla</a></li>
                        <li><a href="#">Eget tempor eget nonummy</a></li>
                        <li><a href="#">Magna lacus bibendum mauris</a></li>
                        <li><a href="#">Nec metus sed donec</a></li>
                        <li><a href="#">Magna lacus bibendum mauris</a></li>
                        <li><a href="#">Velit semper nisi molestie</a></li>
                        <li><a href="#">Eget tempor eget nonummy</a></li>
                    </ul>
                </li>
                <li>
                    <h2>
                        Volutpat Dolore</h2>
                    <ul>
                        <li><a href="#">Nec metus sed donec</a></li>
                        <li><a href="#">Magna lacus bibendum mauris</a></li>
                        <li><a href="#">Velit semper nisi molestie</a></li>
                        <li><a href="#">Eget tempor eget nonummy</a></li>
                        <li><a href="#">Nec metus sed donec</a></li>
                        <li><a href="#">Magna lacus bibendum mauris</a></li>
                        <li><a href="#">Velit semper nisi molestie</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- end #sidebar -->
        <div style="clear: both;">
            &nbsp;</div>
    </div>
    <!-- end #page -->
    <div id="footer">
        <p>
            &copy; 2008. All Rights Reserved. Design by <a href="http://www.freecsstemplates.org/">CSS Templates</a>.</p>
    </div>
    <!-- end #footer -->
</body>
</html>
