            
                <li>@Html.ActionLinkSecure("Home", "Index", "Home")</li>
                <li>@Html.ActionLinkSecure("About Us", "About", "Home")</li>
                <li>@Html.ActionLinkSecure("Products", "Index", "Products")</li>
                <li>@*@Html.AuthorizedActionLink<ServicesController>( c => c.Index(), "Services" )
                @Html.AuthorizedActionLink<<ServicesController>(c => c. *@
                
                @Html.ActionLinkSecure("Services", "Index", "Services")
                    <ul>
                        <li>@Html.ActionLinkSecure("Wedding Check", "Wedding", "Services")</li>
                        <li>@Html.ActionLinkSecure("Travel Check", "Travel", "Services")</li>
                        <li>@Html.ActionLink("Accommodations", "Index",  new { Area = "DBManagement" ,controller ="AccomidationModel" })</li>
                        <li>@Html.ActionLink("MainCheckList", "CheckList",  new { Area = "Services" ,controller ="Main" })</li>
                        <li>@Html.ActionLink("List View", "ListView",  new { Area = "Services" ,controller ="Main" })</li>
                    </ul>
                </li>
                
                <li>@Html.ActionLinkSecure("Contact Us", "ContactUs", "Home")</li>
            