@model Check_my_Box.Areas.DBManagement.Models.SearchableElement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SearchableElement</legend>

    <div class="display-label">Categorys</div>
    <div class="display-field">@(Model.Categorys == null ? "None" : Model.Categorys.Count.ToString())</div>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">CategoryAttributeValues</div>
    <div class="display-field">@(Model.CategoryAttributeValues == null ? "None" : Model.CategoryAttributeValues.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SearchableElementId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


